<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<div class="container-fluid"><!--contianer fluid-->
  <div class="row" id="customrow"><!--row1---->
    <div class="col-md-4" id="logo">Logo</div>
    <div class="col-md-7" id="logo">
      <h3>Monthly Vulnerablity Threat Landscape</h3>
    </div>
  </div><!--row1-->
  <div class="row" id="mtop"><!--row2-->
    <div class="col-md-2">
      <div class="btn-group-vertical">
        <button type="button" id="mbottom" class="btn btn-dark">Add New Exploit</button>
        <button type="button" id="mbottom" class="btn btn-dark">Delete Exploit Kit</button>
        <button type="button" id="mbottom" class="btn btn-dark">Show Fire Eye Data</button>
      </div>
    </div>
    <div class="col-md-9">
      
      <div class="row" id="border">
          <form [formGroup]="chartsForm" class="form-inline" id="topbtm">
          <label for="Month" class="mr-sm-2" id="mleft">Select Date:</label>
          <input type="month" formControlName="date" class="form-control mb-2 mr-sm-2" name="date">
          <!-- <input formControlName="date" name="date" placeholder="Date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control mb-2 mr-sm-2"> -->
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          <label for="mType" class="mr-sm-2" id="mleft">Select Machine Type:</label>
          <select
          class="form-control mb-2 mr-sm-2"
          name="MachineType"
          formControlName="MachineType"
        >
          <option disabled>Select Machine ...</option>
          <option value="server">Server Details</option>
          <option value="workstation">Workstation Details</option>
        </select>
        <label for="Rtype" class="mr-sm-2" id="mleft">Select Report Type:</label>
        <select
        name="ReportType"
        class="form-control mb-2 mr-sm-2"
        formControlName="ReportType"
      >
        <option disabled>Select Report ...</option>
        <option value="technology_type1">EK Associated with Vulnerabilities</option>
        <option value="technology_type2">EK Associated QID and CVE</option>
        <option value="technology_type3">Exploit Kit and QID Count in Environment</option>
        <option value="technology_type4">Known Threats Targeting Current Vulnerabilities</option>
        <option value="technology_type5">Trending Graph for Previous Month</option>
        <option value="technology_type6">Technology Trend</option>
      </select>
          <button style="margin-top: 0.5rem;margin-left: 1rem;" type="submit" class="mb-2" (click)="getData()">Submit</button>
        </form>
      </div>
    
    </div>
  </div><!--row2-->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <div [chart]="samplechart"></div>
    </div>
  </div>
</div><!--contianer fluid-->

