h3 { font-weight: bolder; color: #ffffff;}
#logo { padding-top: 1rem;}
#customrow { background: gray;min-height: 4rem;}
#mbottom { margin-bottom: 1rem ;}
#mtop {  margin-top: 1rem ;}
#border { border: 2px solid;}
#topbtm { margin-top: 1rem ; margin-bottom: 1rem ; margin-left: 0.5rem; }
body { background: lightgray;}
#mleft { margin-left: 1rem; font-weight: bolder;}